<p>The JSON data below can be used as a Rekapi animation.  To use it, <a href="http://rekapi.com/dist/doc/classes/Rekapi.html#method_importTimeline" target="_blank">import it as a timeline</a> and then associate the <code><a href="http://rekapi.com/dist/doc/classes/Rekapi.Actor.html" target="_blank">Rekapi.Actors</a></code> it creates with a rendering context.</p>
<textarea class="$generatedJs"></textarea>
<p>Protip: Deselect the &quot;Center to path&quot; option in the <strong>Motion</strong> panel for JavaScript animations.  This will make the animation a bit easier to work with in a wider variety of DOM setups.</p>
